.game__container {
    position: relative;


    .game__layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 1s ease;
        border-radius: $border-radius;
        box-shadow: inset 0 0 4px black;
        background-color: #ddd;
        backface-visibility: hidden;
        overflow: hidden;

        &--front {
            transform: rotateY(0)
        }

        &--back {
            transform: rotateY(180deg);
        }

    }

    .game__layer--front.rotate {
        transform: rotateY(-180deg);
    }

    .game__layer--back.rotate {
        transform: rotateY(0);
    }
}